@import "tailwindcss";

body {
  background: rgba(0, 0, 0, 1);
}

.main-bg {
  background: radial-gradient(80.04% 128.06% at 50% 0%, rgba(62, 224, 207, 0.45) 0%, rgba(62, 224, 207, 0) 50%);
}

@theme {
  --color-fortune-green: rgba(0, 211, 149, 1);
  --color-fortune-black: rgba(5, 5, 5, 1);

;
}