@import "tailwindcss";


:root {
  /* Use GrimReaper as the only font */
  --font-custom: "GrimReaper";
}

@theme inline {
  --font-sans: var(--font-custom);
  --font-mono: var(--font-custom);
}

body {
  background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)),
    radial-gradient(ellipse 172.57% 93.08% at 100% -6.87%, #4D004A 0%, #0E0337 100%);
  min-height: 100vh;
  font-family: var(--font-custom);
}
